/*-------------------------------------------------------
COLOR DEFINITION
--------------------------------------------------------*/

/** Default */
a{
    color: #ed9914;
}
.theme-color{
    color: #ed9914!important;
}
.theme-color-force{
    color: #ed9914!important;
}
.theme-color-hover:hover{
    color: #ed9914!important;
}
.theme-bg-color{
    background-color:#ed9914!important;
}
.theme-bg{
    background: none repeat scroll 0 0 #ed9914!important;
}
.theme-bg-hover:hover{
    background: none repeat scroll 0 0 #ed9914 !important;
}
.theme-border-color{
    border-color: #ed9914!important;
}

/** panel settings */
.panel-tools .button-command.active,.reset-button button{
	border-color: #ed9914;
	background-color:#ed9914;
}

/*****
 Color define (HienVT)
*****/
.fill-color {
    fill: #ed9914;
}
.info-item.style1:hover .icon, .info-item.style3:hover .icon:before, .info-item.style3:hover .icon:after {
    border: 2px #ed9914 solid;
}
.info-item:hover .iw-bottom-icon i, .iw-posts-content .iw-bottom-item .share-fb .theme-color a,
.iw-posts.style2 .iw-posts-content .read-more a.theme-color, .iw-posts-content .iw-title a.theme-color,
.infunding_slider-v3  .iw-campaign-listing-slider-v2.owl-theme .owl-controls .owl-buttons div.owl-prev:hover:after,
.infunding_slider-v3  .iw-campaign-listing-slider-v2.owl-theme .owl-controls .owl-buttons div.owl-next:hover:after,
.server-location-block .marker-info .description .simple-list li .list-content a:hover,
.server-location-block .marker-info .description .simple-list li i {
    color: #ed9914;
}
.info-item.style3 .icon:after, .dg-wrapper .slider-box.dg-center .item-image, .iw-slider-shortcode .iw-slider-action-button .iw-register-button a:after,
.server-location-block .marker-info .description .simple-list li .list-style, .button1:hover,
.simple-list.angle-right .iw-typography li:hover i, .simple-list.check-mark .iw-typography li:hover i,
blockquote.style3, h5.iw-table-heading, .tooltip .tooltip-inner {
    background: #ed9914;
}
.iw-slider-shortcode .dg-wrapper .slider-box.dg-center .item-image, .infunding_slider-v3 .iw-campaign-listing-slider-v2.owl-theme .owl-controls .owl-buttons div.owl-prev:hover,
.infunding_slider-v3  .iw-campaign-listing-slider-v2.owl-theme .owl-controls .owl-buttons div.owl-next:hover {
    border: 2px #ed9914 solid;
}
.iw-slider-shortcode .iw-slider-action-button .iw-register-button a:hover, .iw-slider-shortcode .iw-slider-action-button .donate-us-button a {
    border: 2px #ed9914 solid;
}
.iw-our-missions:after {
    border-top: 14px solid #ed9914;
}
.simple-list.angle-right .iw-typography li:hover i, .simple-list.check-mark .iw-typography li:hover i {
    border: 1px #ed9914 solid;
}

.iw-campaign-slider-item .campaign-title a:hover, .server-location-block .marker-info .description .simple-list li .list-style, blockquote.style2 p:before {
    color: #ed9914;
}

.iw-campaign-slider-item .campaign-title:after {
    border-top: 2px #ed9914 solid;
}
blockquote, blockquote.style2 {
    border-left: 5px #ed9914 solid;
}
.tooltip.top .tooltip-arrow,
.donates-info .current-donate::after {
    border-top-color: #ed9914;
}

/*twitter  widget*/
.env-narrow .header .p-name,.customisable, .customisable:link, .customisable:visited, .customisable:hover, .customisable:focus, .customisable:active, .customisable-highlight:hover, .customisable-highlight:focus, a:hover .customisable-highlight, a:focus .customisable-highlight{
	color:#ed9914!important;
}


/*****
  Color define(TruongDX)
****/
.theme-color-hover:hover,
.widget_categories ul li a:hover, .widget_archive ul li a:hover, .widget_meta ul li a:hover, .widget_recent_comments ul li a:hover,
.recent-blog-post-detail .recent-blog-post-title > a:hover,
.shortcode_widget .iw-tabs .iw-tab-item .iw-tab-title,
.iw-category .more-link,
.iw-category .tags-links > a,
ul.comment_list .name-cmt, .author-title,
ul.comment_list .comment-reply-link,
.post-info-category a:hover,
.post-content-right .post-info span:hover,
.post-content-right .post-info span:hover a,
.post-content-right .post-info span:hover i,
.iw-category .tags-links > a,
.search-results .main-content article .entry-header .entry-meta time,
.search-results .main-content article .tags-links a,
.search-results .main-content article .entry-header .author a,
.header.header-version-2 .iw-button-toggle i,
.blog-author .authorDetails .author-title a,
.header.header-version-4 .iw-menu-default .iw-nav-menu > li > a strong span,
.header .iw-menu-default .iw-nav-menu > li .sub-menu li a:hover,
#rev_slider_4_1_wrapper .tp-bullets .tp-bullet.selected:after,
.header .iw-menu-default .iw-nav-menu li.current-menu-parent .sub-menu li.selected.active a,
.iw-footer-v2-widget .footer-post-campaign a:hover{
    color: #ed9914;
}
#rev_slider_4_1_wrapper .slider-2-round-left{
    background-color: #ed9914!important;
    opacity: 0.5!important;
}

.page-numbers li span.page-numbers.current,
#rev_slider_4_1_wrapper .tp-bullets .tp-bullet.selected:after,
#rev_slider_5_1_wrapper .tp-bullet.selected,
.iw-footer-v2-widget .footer_extra_links > a:hover{
    border-color: #ed9914;
}
.page-numbers li span.page-numbers.current,
.widget_tag_cloud .tagcloud a:hover,
.shortcode_widget .iw-tabs .iw-tab-item,
.btn-submit.button,
.iw-category .post-item-quote .featured-image:after,
.shortcode_widget .iw-tabs .iw-tab-item.active .iw-tab-title,
.header.header-version-2 .header-donate-button a,
.header.header-version-4 .iw-menu-default .iw-nav-menu > li > a strong:hover:before,
.header .iw-menu-default .iw-nav-menu > li.selected.active > a strong:before,
.header.header-sticky.clone .header-donate-button a,
.header .iw-menu-default .iw-nav-menu li.current-menu-parent > a strong::before,
.header .iw-menu-default .iw-nav-menu > li:hover > a strong:before,
.header .iw-menu-default .iw-nav-menu > li.selected.active > a strong:before,
.header .iw-menu-default .iw-nav-menu li.current-menu-parent > a strong:before,
.iw-footer-v2-widget .footer_extra_links > a:hover,
.header.no-pageheading.header-sticky .header-donate-button a,
.header.header-version-4.no-pageheading.header-sticky .nav-trigger span,
.header.header-version-2.header-version-5.no-pageheading{
    background-color: #ed9914;
}

@media (max-width: 991px) {
    .header .header-donate-button a,
    .header.header-version-4 .header-donate-button a{
        background-color: #ed9914;
    }
    .header.header-version-4 .iw-menu-default .iw-nav-menu > li:hover > a strong,
    .header .iw-menu-default .iw-nav-menu > li.selected.active > a strong{
        color: #ed9914;
    }
}












/*====== COLOR WOO ECOMERCE ======*/
.product-detail .product-collateral ol.commentlist .woo-comment-author{
	color:#ed9914;
}
.product-detail .comment-respond .form-submit .btn-submit{
	background:#ed9914;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
	background-color:#ed9914;
}
.woocommerce #payment #place_order{
	background:#ed9914;
}
.checkout-box .title,
.lost_password a{
	color:#ed9914;
}
.cart-table-items .cart-price,
.cart-table-items .product-info a:hover{
	color:#ed9914;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce .calc_shipping_postcode_wap .button, .woocommerce 
.checkout-box-login button.button, 
.woocommerce .checkout-box-coupon button.button, 
.woocommerce-message a.wc-forward{
    background:#ed9914;
}
.woo-cart-coupon .row-title, 
.woocommerce-cart .cart-collaterals .cart_totals .title{
	color:#ed9914;
}
.woocommerce-cart .cart-collaterals .cart_totals .amount,
.woocommerce .checkout-box-order table.shop_table .amount,
a.shipping-calculator-button{
    color:#ed9914;
}
.woo-cart-coupon .button{
	background:#ed9914!important;
}
.woocommerce-message a{
	background:#ed9914;
}
.product-content a,
.quickview-box a{
	color:#ed9914;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
	background:#ed9914;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:before{
	background:#ed9914;
}
.woocommerce .widget_price_filter .price_slider_amount .button{
	background:#ed9914;
}
.widget_product_categories{
	background:#ed9914;
}
.widget_products ul.product_list_widget li a.product-name:hover,
.widget_recently_viewed_products ul.product_list_widget li a.product-name:hover,
.woocommerce ul.product_list_widget li .price-box,
.woo-list-product-grid .product-name a:hover,
.woo-list-product-grid .cat-list a:hover{
	color:#ed9914;
}
.woocommerce .tagcloud a:hover,
.product-detail .tags-list a:hover{
	background:#ed9914;
	border-color:#ed9914;
}
.woo-list-product-grid .actions a{
	background:#ed9914;
}
.woo-list-product-grid .price-box span.amount{
	background:#ed9914;
}
.woocommerce .product-detail .single_add_to_cart_button,
.product-detail .product_detail_share_icon a:hover{
	background:#ed9914!important;
}
.woocommerce .star-rating:before{
	color:#ed9914;
}
.product-detail .product-essential .price-box span.amount{
	color:#ed9914;
}
.woo-list-product-grid .price-box ins{
	background:#ed9914;
}
.woocommerce .star-rating{
	color:#ed9914;
}
.woocommerce .woocommerce-product-rating .star-rating{
	color:#ed9914;
}
.onsale-label:before,
.new-label:before{
	border-top-color:#ed9914;
}
.product-detail .product-detail-title{
	color:#ed9914;
}
.product-detail .product-essential .price-box ins{
	color:#ed9914;
}
.wishlist_table .product-name .wishlist-product-name a:hover{
	color:#ed9914;
}
.wishlist_table .product-price ins{
	color:#ed9914;
}
.wishlist_table tr td.product-stock-status span.wishlist-in-stock{
	color:#ed9914
}
.wishlist-title h2{
	color:#ed9914
}
.woocommerce .wishlist_table td.product-add-to-cart a{
	background:#ed9914;
}
.actions .add_to_cart_button{
	background-color:#ed9914!important;
}
.actions .add_to_cart_button.cart-added, .add_to_cart_button.cart-adding{
	background-color:#ed9914!important;
	background-image:none!important;
}


.tab-testimonial-home6 .iw-tabs.layout3::before {
    background: #ed9914;
}
.tab-testimonial-home6 .iw-tabs.layout3 .iw-tab-item.active:before,
.tab-testimonial-home6 .iw-tabs.layout3 .iw-tab-item:hover:before{
	border-left-color:#ed9914;
}
.button1{
	border-color:#ed9914;
	color:#ed9914;
}
.iw-mailchimp-form.style4 .mc-submit-button:hover{
	color:#ed9914;
}


/*===== BLOG LISTING AND DETAIL COLOR ====*/
.post-item .post-content-head .feature-post{
	background:#ed9914;
}
.sticky  .post-content {
    border-color: #ed9914;
}
.post-text .owl-theme .owl-controls .owl-next:hover, 
.post-text .owl-theme .owl-controls .owl-prev:hover, 
.post-item .owl-theme .owl-controls .owl-next:hover, 
.post-item .owl-theme .owl-controls .owl-prev:hover{
	background:#ed9914;
}
.post-content-head h3.post-title a:hover{
	color:#ed9914;
}
.post-content-head .post-info a:hover{
	color:#ed9914;
}
.post-content-desc .post-text a{
	color:#ed9914;
}
.post-content-desc .simple-list ul li{
	color:#ed9914;
}
.post-content-desc .post-quote .name-blog-author{
	color:#ed9914;
}
.post-content-footer a.more-link:hover{
	background:#ed9914;
}
.post-content .tags-links a:hover{
	border-color:#ed9914;
	background:#ed9914;
}
.post-content-desc .post-password-form input[type="submit"]{
	background:#ed9914;
}
.widget_meta ul li a:hover,
.widget_recent_comments ul li:hover a{
	color:#ed9914;
}
.place-des-contain .des-content .read-more a{
	color:#ed9914;
}
.campaign-detail .owl-theme .owl-controls .owl-buttons div:hover{
	background:#ed9914;
}
.load-campaigns .post-pagination a.page-numbers:hover,
.load-campaigns .post-pagination span.page-numbers.current{
	color:#fff;
	border-color:#ed9914;
	background:#ed9914;
}
.campaing-listing.infunding_style2 .item-info:hover {
    box-shadow: 0 0 0 2px #ed9914 inset;
}


.info-item.style9 .icon i{
	color:#ed9914;
}
.info-item.style9:hover .icon i{
	background:#ed9914;
	border-color:#ed9914;
}
a.become-volunteer-button{
	background:#ed9914;
}
.in-volunteer-contact input.wpcf7-submit{
	background:#ed9914;
}

.in-volunteer-contact .iradio_flat.checked .iCheck-helper {
    background: #ed9914!important;
}
.down .header-version-4 .nav-trigger span {
	background-color: #ed9914;
}

/*===== END BLOG LISTING AND DETAIL COLOR ====*/


.product-detail .product-essential .owl-theme .owl-controls .owl-buttons div{
	color:#ed9914;
}
.iw-server-location-2 .marker-info-right .simple-list li{
	color:#ed9914;
}



/*Theme color for campaign detail - duongca*/
.sidebar-right .campaign-progress .circle {
	background-image: linear-gradient(to right, transparent 50%, #ed9914 0px);
}

@keyframes infbg {
	50% { background: #ed9914; }
}


@media screen and (max-width: 767px) {

.iw-tabs.layout3 .iw-tab-items{
	background:#ed9914;
}

}
