@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400,700';
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* background-color: #002e5e; */


/* generals */
html{
  height: 100%
}
html body {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0,0,0,.7);
  font-size: 15px !important;
  height: 100%
}
.wrapper{
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.iw-heading.style1 p.iwh-content{
  font-size: 14px;
}
.theme-color{
  color:  white;
}
.theme-bg{
  background: none repeat scroll 0 0 #002e5e!important;
}

/* headers and navs */
.header .iw-menu-default .menu-default-menu-container{
  margin-top: 0;
}
.header .logo{
  padding:  5px 0;
}
body.down .header-sticky.clone .logo{
  position: absolute;
  background: white;
  padding: 20px;
  border-radius: 50%;
  top: -15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 14px 7px -6px;
}

body.down .header.clone, body.down .iw-header-v2-menu.header-sticky.clone,
.header .iw-menu-default .iw-nav-menu > li > .sub-menu{
  /* box-shadow: none; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 14px 7px -6px;
}
.header.header-sticky.clone .iw-menu-default .iw-nav-menu > li > a strong{
  color: rgba(0,0,0,.9)!important;
}
.header.header-sticky.clone .iw-menu-default .iw-nav-menu > li:not(.active):hover > a strong{
  color: white !important;
}
.header .iw-menu-default .iw-nav-menu > li .sub-menu  li a{
  color: rgba(0,0,0,1)
}

/* .header.clone{
  top: 0 !important;
  transition: none !important;
} */
/* body.down .header .iw-menu-default .iw-nav-menu > li.active > a, */
body.down .header .iw-menu-default .iw-nav-menu > .current-menu-parent > a{
  background-color: #002e5f;
  color: white;
}

body .iw-nav-menu >li.active>a strong:before,
body .iw-nav-menu >li:hover>a strong:before{
  background: #002e5f !important;
}

/* body.down .iw-nav-menu >li.active>a, */
body.down .iw-nav-menu >li:hover>a{
  background-color: #002e5f;
}
body.down .iw-nav-menu >li.active>a strong{
  border-bottom:  2px solid #002e5f;
}
body.down .header .iw-menu-default .iw-nav-menu > li.active > a{
  background:  white;
}
body.down .header .iw-menu-default .iw-nav-menu > li.active > a:hover{
  background: #002e5f;
}
body.down .header .iw-menu-default .iw-nav-menu > li:hover > a:hover strong{
  color: white !important;
}

body.down .header-sticky.clone .iw-menu-default .iw-nav-menu > li{
  padding-bottom: 12px;
}
body.down .header-sticky.clone .main-menu{
  margin-top: 9px;
}
/* .down .header.header-sticky.clone .iw-menu-default .iw-nav-menu > li.active > a strong,
.down .header.header-sticky.clone .iw-menu-default .iw-nav-menu > li:hover > a strong{
  color: white !important;
} */

/* .down .header.header-sticky.clone .iw-menu-default .iw-nav-menu > li:hover > a strong{
  color: white !important;
} */
body.down .iw-nav-menu >li.active>a strong:before,
body.down .iw-nav-menu >li:hover>a strong:before{
  display: none;
}

.fill{
  width: 100%;
}
.theme-color-hover:hover, .widget_categories ul li a:hover, .widget_archive ul li a:hover, .widget_meta ul li a:hover, .widget_recent_comments ul li a:hover, .recent-blog-post-detail .recent-blog-post-title > a:hover, .shortcode_widget .iw-tabs .iw-tab-item .iw-tab-title, .iw-category .more-link, .iw-category .tags-links > a, ul.comment_list .name-cmt, .author-title, ul.comment_list .comment-reply-link, .post-info-category a:hover, .post-content-right .post-info span:hover, .post-content-right .post-info span:hover a, .post-content-right .post-info span:hover i, .iw-category .tags-links > a, .search-results .main-content article .entry-header .entry-meta time, .search-results .main-content article .tags-links a, .search-results .main-content article .entry-header .author a, .header.header-version-2 .iw-button-toggle i, .blog-author .authorDetails .author-title a, .header.header-version-4 .iw-menu-default .iw-nav-menu > li > a strong span, .header .iw-menu-default .iw-nav-menu > li .sub-menu li a:hover, .slide-container.slider-2 .tp-bullets .tp-bullet.selected:after, .header .iw-menu-default .iw-nav-menu li.current-menu-parent .sub-menu li.selected.active a, .iw-footer-v2-widget .footer-post-campaign a:hover{
  color: #002e5f;
}
.iw-footer-v2-copyright p a{
  color: white !important;
}


/* titles and headings */
.iwh-title{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
  /* font-weight: bold !important; */
  /* font-size: 33px !important; */
}
.iwh-title:after{
  content: '';
  display: block;
  width: 95px;
  border-top: 4px solid rgba(0,0,0,.7);
  margin: 15px auto 0 auto;
}
/* goals */
.vc_custom_1454496271895.our-goals{
  padding-top:  0 !important;
}
.our-goals .iw-heading{
  margin-bottom: 0;
}
/* stories */
.stories,
.social-tabs{
  margin-top: 30px;
}
.stories .media{
  margin-bottom: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 14px;
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
}
.stories .media .media-body,
.stories .media .media-right{
  display: inline-block;
  width:  auto;
}
.stories .media .media-right{
  min-width: 145px;
  min-height: 167px;
  width: 145px;
  height: 167px;
}
.slide-wrap{
  overflow: hidden;
  margin-top: 30px;
}
/* .stories .slide-item{
  height: 0;
  transition: all .3s ease;
  animation: story-animation 1s ease;
  animation: fade .5s ease;
}
.stories .slide-item:first-of-type{
  height:  auto;
}
.stories .slide-item.active{
  height: auto;
}
.stories .slide-item img{
  width: 100%;
  height: 100%;
} */

/* social-tabs */
.social-tabs .nav i{
  font-size: 30px;
  color: #002e5f;
}
.social-tabs .nav-tabs .fa-youtube{
  color: #E62117;
}
.social-tabs .nav-tabs .fa-facebook-official{
  color: #3B5998;
}
.social-tabs .nav-tabs .fa-twitter{
  color: #0084B4;
}
.social-tabs .tab-content{
  padding: 12px;
}

/* .social-tabs .nav-tabs.nav-justified>li>a{
  border-bottom-color: #002e5f;
}
.social-tabs .nav-tabs.nav-justified>.active>a{
  border-top-color: #002e5f;
  border-right-color: #002e5f;
  border-left-color: #002e5f;
  border-bottom-color:  white;
} */
/* impacts */
.our-impacts{
  background: #002e5f;
  padding:  20px 30px 30px 30px;
}
.our-impacts *{
  color:  #fff;
}
.our-impacts .iwh-title:after{
  background:  white;
  border-color: white;
}
.style4.profile-box .profile-image{
  background-image:  none;
}
.our-impacts .name{
  font-size: 30px !important;
}
.our-impacts .description{
  font-size: 20px;
  text-transform: uppercase;
}

/* leaders profile */
.leaders-profile{
  padding-top: 30px;
  padding-bottom: 30px;
}
.leaders-profile .profile-item{
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.profile-item figure{
  min-width: 150px;
  min-height: 150px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 15px;
}
.profile-item img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.profile-item h3{
  margin-top: 0;
  border-bottom: 2px solid gray;
  padding-bottom: 10px;
}
.profile-item h3 small{
  display: block;
  margin-top: 5px
}
.get-engaged{
  padding: 5px 15px;
  border: 1px solid #002e5f;
  color: #002e5f;
  margin-left: 20px;
  transition: all .3s;
}
.get-engaged:hover{
  color: white;
  background: #002e5f;
}
/* .profile-item .detail p{
  max-height: 145px;
  overflow: hidden;
}

.profile-item .detail p:not(:nth-of-type(2)){
  display: none;
} */


/*big image for donate home page*/
.big-img.vc_custom_1451359398429{
  margin-bottom: 35px !important;
}


/* partners */
.partners.vc_custom_1454496271895{
  padding-top: 0 !important;
  padding-bottom: 30px;
}

.partners .nav-tabs >li a{
  font-size: 18px;
  background: transparent;
  text-transform: uppercase;
  border: 0;
  color:  black;
  border-radius: 0;
  transition: all .3s ease;
}
.partners .nav-tabs >li.active a,
.partners .nav-tabs >li.active a:hover,
.partners .nav-tabs >li.active a:focus{
  border: 0;
  color: black;
}
.partners .nav-tabs >li a:hover{
  background: rgba(255,255,255,.3);
}
.partners .nav-tabs >li a:focus{
  background: transparent;
}
.partners .nav-tabs >li a:after{
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  background: black;
  transition: all .3s ease;
  left: 0;
}
.partners .nav-tabs >li.active a:after{
  transform: scaleX(1);
}

.partners .tab-content{
  padding:  50px 0 20px 0;
}
.partners .tab-pane.active{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.partners .tab-pane figure{
  margin-bottom: 20px;
  width: 250px;
}

@keyframes story-animation{
  0{
    opacity: 0;
    /* transform: translateY(50%) */
  }
  100%{
    opacity: 1;
    /* transform: translateY(0) */
  }
}
.social-tabs .tab-content{
  margin-left: -12px;
  margin-right: -41px;
}

/* events listing */
.events{
  padding-top: 102px;
}
.events .campaing-listing .item-info .image img{
  width: 100%;
  height: 300px;

}
.campaing-listing .item-info .campaign-text .campaign-des{
  max-height: 250px;
  overflow: hidden;
}
.campaing-listing .item-info .campaign-text{
  box-shadow: 0px 0px 2px #838383;
}
.campaing-listing .item-info .campaign-text:hover{
  box-shadow: box-shadow: 0px 0px 7px #535353;
}



/*about sadbhaw page*/
.feature_image{
  padding-bottom: 100px;
  height: 400px;
  margin-bottom: 50px;
}
.about-sadbhaw .missions .iwh-title{
  font-size: 25px !important;
}
.about-sadbhaw .leaders-profile{
  padding-top: 0;
}
.about-sadbhaw .profile-item img{
  border-radius: 0;
}
.about-sadbhaw .leaders-profile .profile-item{
  align-items: flex-start;
}

/*fund raising*/
.campaing-listing .item-info .image img{
  width: 100%;
  height: 230px;
  margin: 0;
}
.funding{
  padding-top: 100px;
}
.funding .campaing-listing .item-info .image{
  padding: 15px 0;
}
.campaing-listing.infunding_style2 .item-info:hover{
  box-shadow: none;
}
.campaing-listing.infunding_style2 .campaign-info{
  padding-right: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.campaing-listing.infunding_style2 .item-info .campaign-text .campaign-title{
  padding: 15px;
}
.campaing-listing.infunding_style2 .item-info .campaign-text .campaign-title h3{
  transform: translatey(5px);
}
.funding .item-info img{
  margin-top: 8px;
}
.funding .donate-btn-effect{
  margin: 0;
    float: right;
}
/*downloads*/
.downloads{
  padding-top: 102px;
  min-height: 100%;
}
.downloads .campaing-listing .item-info .campaign-text{
  box-shadow: none;
  padding: 0 10px;
}
/*others*/
.page-title{
  padding-top: 50px;
}
.page-heading{
  background-image: url('../images/banner.jpg');
  background-position: 0 0;
  height: 300px;
}
/* stories-list*/
.stories-list{
  padding-top: 102px;
}
.stories-list .campaing-listing .item-info .image{
  padding: 15px 0;
}
.stories-list .campaing-listing .item-info .image img{
  max-height: 225px;
}
.page-content{
  margin-top: 150px !important;
}
/*partners page*/
.our-partners,.in-volunteer-contact{
  margin-top: 0px;
  z-index: 0;
}

/*get engaged page*/
.two-column-form .in-contact-field,.two-column-form .wpcf7-form-control-wrap{
  display: block;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #002e5e;
}

/*donate page*/
.two-button{
  width: auto !important;
  display: inline-block;
}
.radio-label{
  margin-right: 150px;
}

/*contact page*/
.contact-map{
  padding-bottom: 60px;
}